.filter-card {
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: #ffff;
  color: gray;
  border-radius: 8px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}

.filter-card__title {
  display: block;
  position: absolute;
  left: 5%;
  font-weight: bold;
  color: black;
  font-size: 1.25rem;
}

.filter-card__subtitle-wrapper {
  display: inline-block;
  padding: 2px 25px;
  border-bottom: 2px solid lightgray;
  margin: 5px;
}

.filter-card__subtitle {
  font-size: 1.2rem;
}

.filter-card__years {
  text-align: center;
  padding: 2px;
  color: black;
  margin: 10px 20px;
}

.filter-card__year_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-card__year {
  padding: 5px 10px;
  background-color: rgb(191, 241, 141, 0.8);
  margin: 10px 15px;
  font: 0.8rem;
  border-radius: 5px;
  color: black;
}
